nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    margin: 25px;
    font-size: large;
    color: white;
}

nav a:hover {
    color: black;
    text-decoration: none;
}