.Transactions {
  margin: 50px;
}

.Transactions a {
  color: rgb(73, 146, 63);
}

.Transactions a:hover {
  color: greenyellow;
}

.Transactions h1 {
  text-align: center;
}

h1 {
  text-align: center;
}
